form {
    border: 1px solid black;
    width: 300px;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
}


.search {
    border: 1px solid black;
    padding: 10px;
}

table {
    width: 100%;
}